
.selection-guests-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .hidden {
    display: none;
  }
  
  .counter {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .counter label {
    margin-right: 10px;
  }
  
  .counter button {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
  
  .counter input {
    width: 50px;
    text-align: center;
  }
  
  /* Animaciones */
  @keyframes slideDown {
    0% {
      max-height: 0;
      opacity: 0;
    }
    100% {
      max-height: 500px; /* Ajusta según el contenido */
      opacity: 1;
    }
  }
  
  @keyframes slideUp {
    0% {
      max-height: 500px; /* Ajusta según el contenido */
      opacity: 1;
    }
    100% {
      max-height: 0;
      opacity: 0;
    }
  }
  
  .slide-down {
    animation: slideDown 0.5s forwards;
  }
  
  .slide-up {
    animation: slideUp 0.5s forwards;
  }
  