---
import SectionStructure from '../../components/structures/SectionStructure.astro';
---

<SectionStructure idSection="" sectionClasses=" p-3" wrapperClasses="w-full">
  <div class="flex flex-col text-white gap-4 md:gap-6 text-[18px]/[22px]">
    <article class="flex flex-col gap-8">
      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">We use cookies to enhance your experience</h6>
        <p class="text-base font-light">
          We use cookies to enhance your experience while browsing our website. Cookies are data files stored on your device when you access our site, enabling us to remember your settings, monitor
          site traffic, and personalize your experience to meet your preferences. By continuing to explore our platform, you consent to the use of cookies as outlined in our policy.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">Cookies We Use</h6>
        <ul class="text-base font-light">
          <li>
            <strong>Essential Cookies:</strong> These are key to the basic operation of our website. They allow you to browse our platform efficiently, enabling important features and secure areas for
            user browsing.
          </li>
          <li>
            <strong>Performance Cookies:</strong> These collect insights about how you engage with our site, such as pages you visit most frequently. That information helps us improve the site's operation
            and your overall user experience.
          </li>
          <li>
            <strong>Functionality Cookies:</strong> Designed to remember your preferences—such as geographical region or your language settings—these cookies enable us to deliver you a more personalized
            experience.
          </li>
          <li>
            <strong>Targeting Cookies:</strong> These are used to showcase ads that are more aligned with your interests for your convenience. These also assist in regulating the frequency of ad displays
            and measuring the effectiveness of advertising campaigns.
          </li>
        </ul>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">Additional Considerations for a Complete Cookie Policy</h6>
        <ul class="text-base font-light">
          <li>
            <strong>Third-Party Cookies:</strong> We may partner with external service providers who may store cookies on your device to aid in operations such as analytics or advertising. These cookies
            are subject to the privacy policies of the respective third parties, and we strongly recommend reviewing their guidelines for more details.
          </li>
          <li>
            <strong>Cookie Expiration:</strong> Cookies on our website may work either session-based or consistently. Session cookies are temporary and are removed from your device when you close down
            your browser, while consistent cookies remain stored until they either expire or you manually delete them. Expiration of each cookie may vary based on its purpose.
          </li>
          <li>
            <strong>Consent and Preferences:</strong> On your first visit to our website, you’ll be prompted to accept or customize your cookie settings. You can change these preferences at any time through
            the cookie management options on our site or in your browser settings.
          </li>
          <li>
            <strong>Do Not Track Signals:</strong> Some browsers offer a "Do Not Track" option that enables you to choose a preference not to be tracked across different websites. We honor these preferences
            and guarantee we will not monitor your browsing activities if this feature is on.
          </li>
        </ul>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">Managing Cookies</h6>
        <p class="text-base font-light">
          You are able to control how cookies are managed through your browser settings. Most browsers alert you when cookies are stored on your device or provide you the option to block them.
          However, please notice that disabling cookies may affect the performance and operation of certain parts of our website.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">Policy Updates</h6>
        <p class="text-base font-light">
          Our Cookie Policy may be changed from time to time to comply with new operational, legal, or regulatory requirements or to reflect any changes in our practices. We recommend you check this
          policy periodically to stay updated about how we use cookies. Any modifications will be posted on this page and will be effective upon going live.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">Consent</h6>
        <p class="text-base font-light">
          By continuously exploring thrillthrowdown.com , you consent to our use of cookies in accordance with this policy. If you have any questions or concerns regarding our Cookie Policy or how
          your data is handled, feel free to contact us to assist you.
        </p>
      </div>
    </article>
  </div>
</SectionStructure>
