---
import SectionStructure from '../../components/structures/SectionStructure.astro';
---

<SectionStructure idSection="" sectionClasses=" p-3" wrapperClasses="w-full">
  <div class="flex flex-col text-white gap-4 md:gap-6 text-[18px]/[22px]">
    <article class="flex flex-col gap-8">
      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">1. Your Privacy is our primary concern</h6>
        <p class="text-base font-light">
          At thrillthrowdown.com , we take your privacy as our priority. This Privacy Policy outlines how we collect, use, and protect your personal information when you engage with our website.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">2. Information We Collect</h6>
        <p class="text-base font-light">
          We collect information to provide you with the best possible user experience when using our platform. This may include your contact information (name or email address). We may also gather
          information about your interactions with our Website, such as services of your interest and pages you have browsed.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">3. How We Use Your Information</h6>
        <p class="text-base font-light">
          The information we collect is used mainly to ease the selection for your social casino experience and provide you with a seamless experience on our site. We may also use your information to
          improve our services and customize your experience.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">4. Data Sharing and Security</h6>
        <p class="text-base font-light">
          We make sure your information is safe and protected with cutting-edge encryption methods, and that is shared only with the social casino of your choice. We do not sell or share your personal
          data with third parties or for marketing purposes. All your personal information is managed safely and securely to prevent unauthorized access.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">5. Your Rights</h6>
        <p class="text-base font-light">
          You have the right to access, correct, or erase your data whenever you want to. Please contact our online customer support in case you would like to update your details or request the
          removal of your personal data. We are committed to your privacy and comply with every applicable data protection law.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">6. Tracking Technologies and Cookies</h6>
        <p class="text-base font-light">
          In order to enhance your browsing experience, our website uses cookies. These enable us to track your activity on our platform, remember your preferences, and to provide customized options
          and suggestions. You are able to handle your cookie preferences at your browser settings.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">7. Third-Party Service Providers</h6>
        <p class="text-base font-light">
          We may engage reliable third-party service providers, such as hosting our website, and analyzing data to perform some operations on our behalf. Although these providers may access your
          information to perform their operations, they are contractually enforced to protect your personal data and use it exclusively for the purposes we specify.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">8. International Data Transfers</h6>
        <p class="text-base font-light">
          Your personal information may be transferred to and managed overseas, where information protection laws may apply differently. In case of that scenario, we make sure that appropriate
          safeguards are in place to protect your information in compliance with applicable laws.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">9. Data Retention</h6>
        <p class="text-base font-light">
          We retain your personal data only as long as necessary to comply with the purposes outlined in this policy or as required by law. And we will make sure to anonymize or delete it once your
          information is no longer needed.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">10. Contact</h6>
        <p class="text-base font-light">
          For any questions or concerns regarding this Privacy Policy or how your information is processed, please contact our online support team:<br />
          Email: contact@thrillthrowdown.com<br />
          Support Email: contact@thrillthrowdown.com<br />
          Phone: +44 117 927 6691<br />
          Address: Bond St, St Paul's, Bristol BS1 3LG, United Kingdom
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">11. Policy Updates</h6>
        <p class="text-base font-light">
          We may modify our Privacy Policy periodically to reflect changes in our practices or legal requirements. We invite you to review this page from time to time to keep up with any
          modifications. Any changes to this policy will be effective immediately upon posting on the website.
        </p>
      </div>
    </article>
  </div>
</SectionStructure>
