---
import SectionStructure from '../../components/structures/SectionStructure.astro';
---

<SectionStructure idSection="" sectionClasses=" p-3" wrapperClasses="w-full">
  <div class="flex flex-col text-white gap-4 md:gap-6 text-[18px]/[22px]">
    <article class="flex flex-col gap-8">
      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">Disclaimer</h6>
        <p class="text-base font-light">
          All content displayed on this website is meant only for informational purposes and does not constitute financial, professional, or legal advice in any way. We are committed to providing our
          users with the most up-to-date information, but we don’t guarantee its timeliness, completeness, or accuracy. You are responsible for reviewing and complying with all the requirements and
          terms of each social casino before choosing a platform. We will not be liable for any incidental, indirect, consequential, or punitive damages arising from the use of this website, or those
          arising at the venues promoted here to the fullest extent allowed by the law.
        </p>
        <p class="text-base font-light">
          Some content at thrillthrowdown.com may be sponsored by our business partners, however, we cannot guarantee that our platform will be free of errors, viruses, or other risky components.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">1. Welcome to thrillthrowdown.com !</h6>
        <p class="text-base font-light">
          These Terms and Conditions ("Terms") govern your use of thrillthrowdown.com ("Website"). By using and accessing our Website, you agree to these Terms. In case you disagree with any of these
          Terms, please refrain from exploring our Website. We are honored by your trust in our comparison list of the virtual social casinos.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">2. Ownership of Content</h6>
        <p class="text-base font-light">
          All content on our website is the property of Thrill Throwdown or its licensors, including but not limited to text, logos, images, videos, and software. It is protected by copyright,
          intellectual property, and trademark laws. It is strictly prohibited to use, distribute, or reproduce any of this content without our written permission.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">3. Use of the Website</h6>
        <p class="text-base font-light">
          In accordance with these terms, you are allowed to use our Website only for its designed purposes and you agree not to:
          <ul>
            <li>Restrain or disrupt the Website's functionality or its users' experience</li>
            <li>Attempt unauthorized access to any part of the Website or its components</li>
            <li>Deploy any harmful or malicious code through our Website</li>
          </ul>
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">4. Accuracy of Information</h6>
        <p class="text-base font-light">
          As hard as we strive to provide the most accurate information, we do not ensure the reliability or completeness of our Website’s content. Our site’s content is meant only for informational
          purposes and may not reflect the latest updates. It is your responsibility to use our Website at your discretion.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">5. External Links</h6>
        <p class="text-base font-light">
          thrillthrowdown.com may include third-party websites. We are not responsible for those links and are provided only for your optional convenience. We are not responsible for their privacy
          practices or content, as we do not control these third-party links. Access to those external websites is at your own risk.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">6. Liability</h6>
        <p class="text-base font-light">
          Thrill Throwdown, its affiliates, and their respective employees, officers, directors, and agents are not liable, to the maximum extent allowed by law, for any consequential, special,
          incidental, indirect, or punitive damages, including loss of data, profits, or goodwill, resulting from your use of the Website. This includes, but is not limited to damages such as:
        </p>
        <ul class="text-base font-light">
          <li>Mistakes, omissions, or inaccuracies in the Website's content</li>
          <li>Inability to access or use the Website</li>
          <li>Unauthorized access or use of our servers and your personal information</li>
        </ul>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">7. Compensation</h6>
        <p class="text-base font-light">
          You accept to defend, hold harmless, and indemnify Thrill Throwdown, its affiliates, and their respective employees, officers, directors, and agents from any losses, damages, claims,
          liabilities, or expenses (including legal fees) resulting from your use of the Website or any breach of these Terms.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">8. Changes to Terms</h6>
        <p class="text-base font-light">
          We reserve the right to amend, change, or update these Terms at our sole discretion. Any significant updates will become effective by posting the revised Terms on our Website. It is your
          responsibility to review these Terms from time to time. By continuing to use our Website after any changes, you accept the updated Terms.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">9. Governing Jurisdiction and Law</h6>
        <p class="text-base font-light">
          These Terms are governed by the laws of the United Kingdom. Any disputes related to these Terms or your use of the Website will be subject to the exclusive jurisdiction of the courts in the
          United Kingdom.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">10. Contacting Us</h6>
        <p class="text-base font-light">
          Please feel free to contact us for any questions or concerns you may have regarding these Terms at:<br />
          Email: contact@thrillthrowdown.com<br />
          Support Email: contact@thrillthrowdown.com<br />
          Phone: +44 117 927 6691<br />
          Address: Bond St, St Paul's, Bristol BS1 3LG, United Kingdom
        </p>
      </div>
    </article>
  </div>
</SectionStructure>
