---
import SectionStructure from '../../components/structures/SectionStructure.astro';
---

<SectionStructure idSection="" sectionClasses=" p-3" wrapperClasses="w-full">
  <div class="flex flex-col text-white gap-4 md:gap-6 text-[18px]/[22px]">
    <article class="flex flex-col gap-8">
      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">Our Comparison Sources</h6>
        <p class="text-base font-light">
          We strive to showcase a comprehensive comparison between social casinos on our website. For that purpose, we have collected trusted information from reliable sources and expert reviews. This
          is how we ensure a variety of opinions in order to help you choose the best online experiences.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">How We Use the Information</h6>
        <p class="text-base font-light">
          Rankings displayed on our website are based on the collective opinions of real social casino users, providing you a reliable guide for your entertainment. In order to give you a
          comprehensive picture of each platform, we have collected information from these sources, based on their user feedback. In line with our transparency commitment, we aim to gain your trust by
          clearly sharing this information.
        </p>
      </div>

      <div class="flex flex-col gap-1">
        <h6 class="font-semibold">Gambling Disclaimer</h6>
        <p class="text-base font-light">
          It’s important to approach gambling with caution and responsibility. We strongly advocate responsible gaming and emphasize that it should only be allowed for those legally aged or older.
          Spending too much time or money gaming can cause problems or negatively affect health and wellbeing. If you ever feel that your gaming habits are becoming an issue, we strongly encourage you
          to seek professional help as soon as possible.
        </p>
        <p class="text-base font-light">
          At Thrill Throwdown we want you to have fun in your social casino experience, but always remember to keep your gaming enjoyable and within your financial means. Playing responsibly is key to
          a positive experience.
        </p>
        <p class="text-base font-light">
          For more helpful information, please visit: <a class="text-blue-400" href="https://www.gambleaware.org/" target="_blank">https://www.gambleaware.org/</a>
        </p>
      </div>
    </article>
  </div>
</SectionStructure>
