---

---

<div class="flex flex-col gap-3">
  <h5 class="font-semibold text-[#033860]">Table of contents</h5>

  <nav class="md:w-3/12 flex flex-col pl-3 gap-5 md:sticky top-36 h-max">
    <ul class="flex text-sm text-[#033860] list-inside list-decimal flex-col gap-2">
      <li class="nav-item w-max" id-nav="terms-and-conditions.html">
        <a href="./terms-and-conditions.html" class="transition-all duration-200">Terms and Conditions</a>
      </li>

      <li class="nav-item w-max" id-nav="privacy-policy.html">
        <a href="./privacy-policy.html" class="transition-all duration-200">Privacy Policy</a>
      </li>

      <li class="nav-item w-max" id-nav="cancellation-policy.html">
        <a href="./cancellation-policy.html" class="transition-all duration-200">Cancellation Policy</a>
      </li>

      <li class="nav-item w-max" id-nav="transparency-disclosure.html">
        <a href="./transparency-disclosure.html" class="transition-all duration-200">Trasparency Disclosure</a>
      </li>

      <li class="nav-item w-max" id-nav="gambling-disclaimer.html">
        <a href="./gambling-disclaimer.html" class="transition-all duration-200">Gambling Disclaimer</a>
      </li>

      <li class="nav-item w-max" id-nav="contact-us.html">
        <a href="./contact-us.html" class="transition-all duration-200">Contact Us</a>
      </li>

      <li class="nav-item w-max" id-nav="cookie-policy.html">
        <a href="./cookie-policy.html" class="transition-all duration-200">Cookie Policy</a>
      </li>
    </ul>
  </nav>
</div>

<style>
  .active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #033860;
  }
</style>
