---
import LegalStructure from '../components/legals/LegalStructure.astro';
---

<LegalStructure>
  <div class="flex flex-col gap-5 animate-hero text-[#033860]">
    <div class="flex flex-col gap-3">
      <p>We understand that your plans can change, and our goal is to provide our users with the best possible service. That is why we detail our Cancellation Policy as it follows:</p>
    </div>

    <article class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <h4 class="font-bold">1. General Cancellation Policy</h4>
        <p>
          You are eligible to get a full refund, if you cancel at least 7 business days before your booking date. Cancellations made less than 7 business days prior to the check-in date are
          non-refundable.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">2. Cancellation Process</h4>
        <p>
          Please give us a call at +44 117 370 3740 or contact us at support@experiencematchup.com to cancel your reservation. Make sure to receive cancellation confirmation for your backup record.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">3. Refund Process</h4>
        <p>
          Upon receiving your cancellation request, refunds will be processed within the next 2 business days. These will be issued back using the original payment method at the time of each
          reservation.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">4. Changes to Reservation</h4>
        <p>
          Additional fees may apply in case you need to modify your reservation, for instance when changing your schedule dates. Please call our online support team at +44 117 370 3740 or contact us
          at support@experiencematchup.com to change your booking.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">5. Unexpected Circumstances</h4>
        <p>
          We will assist to modify or cancel your booking and get a full refund, without additional penalties, should extraordinary events occur, such as natural disasters, pandemics, or other
          unexpected circumstances.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">6. Policy Updates</h4>
        <p>
          We reserve the right to change this cancellation policy at any given time and for any reason, without prior notice. It is your sole responsibility to review the cancellation policy from time
          to time. You agree to the terms detailed in this policy when engaging with our services. If you have any concerns about this cancellation policy, please contact our customer service team at
          +44 117 370 3740 or contact us at support@experiencematchup.com.
        </p>
      </div>
    </article>
  </div>
</LegalStructure>
