---
import LegalStructure from '../components/legals/LegalStructure.astro';
---

<LegalStructure>
  <div class="flex flex-col gap-5 animate-hero text-[#033860]">
    <article class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <p>
          Our priority is to manage our business with transparency, and integrity, making sure that all legal disclosures are available to our users. Feel free to contact us directly anytime, should
          any concerns regarding our legal standing or the terms of service arise.
        </p>
        <p>We are here to help you:</p>
        <ul>
          <li><strong>Company Name:</strong> Experience Matchup</li>
          <li><strong>Registered Address:</strong> Finzels Reach, Generator Building, Counterslip, Bristol BS1 6BX, United Kingdom</li>
          <li><strong>Phone Number:</strong> +44 117 370 3740</li>
          <li><strong>Business Focus:</strong> ADVERTISING AND MARKETING</li>
        </ul>
        <p>
          experiencematchup.com is a company registered in the United Kingdom. Our legal obligations include providing you with clear, accurate information regarding the services we offer, and we
          comply with all applicable UK regulations and laws. While we ease your reservation process, the responsibility for the delivery of casino services lies solely with each gaming venue.
        </p>
      </div>
    </article>
  </div>
</LegalStructure>
