---
import LegalStructure from '../components/legals/LegalStructure.astro';
---

<LegalStructure>
  <div class="flex flex-col gap-5 animate-hero text-[#033860]">
    <div class="flex flex-col gap-3">
      <p>We understand that your plans can change, and our goal is to provide our users with the best possible service. That is why we detail our Cancellation Policy as it follows:</p>
    </div>

    <article class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <p>
          We use cookies to improve your experience while browsing our site. Cookies are data files stored on your device when you access our website, enabling us to monitor site traffic, recall your
          settings, and customize your user experience to meet your preferences. By continuing to browse our website, you consent to the use of cookies as detailed in our policy.
        </p>

        <h4 class="font-bold">Cookies We Use:</h4>
        <ul>
          <li>
            <strong>Essential Cookies:</strong> These are key to the basic operation of our platform and allow you to browse our site efficiently, enabling important features and secure areas for user
            navigation.
          </li>
          <li>
            <strong>Functionality Cookies:</strong> Designed to remember your preferences—such as language settings or your geographical region—these cookies enable us to deliver you a more tailored experience.
          </li>
          <li>
            <strong>Performance Cookies:</strong> These collect insights about how you engage with our website, such as pages you visit most frequently. That information helps us enhance the site's operation
            and your overall user experience.
          </li>
          <li>
            <strong>Targeting Cookies:</strong> These are used to display ads that are more aligned with your interests for your convenience. These also assist in regulating the frequency of ad exposure
            and measuring the effectiveness of advertising campaigns.
          </li>
        </ul>

        <h4 class="font-bold">Additional Considerations for a Complete Cookie Policy:</h4>
        <ul>
          <li>
            <strong>Third-Party Cookies:</strong> We may partner with external service providers from time to time, who may store cookies on your device to aid in operations such as advertising or analytics.
            These are subject to the privacy policies of the respective third parties, and we strongly encourage reviewing their guidelines for further details.
          </li>
          <li>
            <strong>Cookie Expiration:</strong> Cookies on our website may work either session-based or consistently. Session cookies are temporary and are removed from your device when you close down
            your browser, while consistent cookies remain until those either expire, or when you manually delete them. Expiration of each cookie may vary based on its functionality.
          </li>
          <li>
            <strong>Preferences and Consent:</strong> On your first visit to our platform, you’ll be prompted to accept or customize your cookie settings. You can change these preferences at any time through
            the cookie management options on our website or at your browser settings.
          </li>
          <li>
            <strong>Do Not Track Signals:</strong> Some browsers offer a "Do Not Track" option that enables you to choose a preference not to be tracked across different websites. We honor these preferences
            and guarantee we will not monitor your browsing activities if this feature is enabled.
          </li>
        </ul>

        <h4 class="font-bold">Managing Cookies:</h4>
        <p>
          You are able to control how cookies are managed through your browser settings. Most browsers let you know when those are stored on your device, or provide you the option to reject those.
          Still, please notice that disabling cookies may affect the operation and performance of some parts of our website.
        </p>

        <h4 class="font-bold">Policy Updates:</h4>
        <p>
          Our Cookie Policy may be updated from time to time to comply with new legal, operational, or regulatory requirements, or to reflect any changes in our practices. We suggest you check out
          this policy periodically to stay updated about how we use cookies. Any modifications will be posted on this site and will be effective upon going live.
        </p>

        <p>
          You consent to our use of cookies in accordance with this policy by continuously engaging experiencematchup.com. If you have any questions or concerns regarding our Cookie Policy or how your
          data is handled, feel free to contact us to help you.
        </p>
      </div>
    </article>
  </div>
</LegalStructure>
