---
import LegalStructure from '../components/legals/LegalStructure.astro';
---

<LegalStructure>
  <div class="flex flex-col gap-5 animate-hero text-[#033860]">
    <article class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <p>
          At Experience Matchup we want you to have fun in your next casino visit, but always remember to keep your gaming enjoyable and within your financial means. Playing responsibly is key to a
          positive experience.
        </p>
        <p>
          We emphasize that gambling should only be allowed for those legally aged or older and strongly suggest responsible gaming. It’s important to approach it with caution and responsibility.
          Spending too much time or money gambling can cause issues or negatively affect health and wellbeing. If you ever feel that your gambling habits are becoming a problem, we urge you to seek
          professional help right away.
        </p>
        <p>
          Find more helpful information at: <a class="text-blue-600" href="https://www.gambleaware.org/" target="_blank">https://www.gambleaware.org/</a>
        </p>
      </div>
    </article>
  </div>
</LegalStructure>
