---
import Layout from '../layouts/Layout.astro';
import Home from '../sections/Home.astro';
import NavbarMobile from '../components/header/NavbarMobile.astro';
import NavbarDesktop from '../components/header/NavbarDesktop.astro';
import About from '../sections/About.astro';
import Top from '../sections/Top/Top.astro';
import Faq from '../sections/Faq/Faq.astro';
import How from '../sections/How/How.astro';
import Partners from '../sections/Partners.astro';
---

<Layout title="">
  <!-- ? navbar mobile -->
  <NavbarMobile isLanding={true} />

  <!-- ? Header section desktop-->
  <NavbarDesktop isLanding={true} />

  <main class="flex flex-col gap-8 md:gap-10 lg:gap-12">
    <Home />
    <About />
    <Top />
    <How />
    <Faq />
    <Partners />
  </main>
</Layout>
