---
import LegalStructure from '../components/legals/LegalStructure.astro';
---

<LegalStructure>
  <div class="flex flex-col gap-5 animate-hero text-[#033860]">
    <div class="flex flex-col gap-3">
      <h4 class="font-bold">We take your privacy seriously.</h4>
      <p>At experiencematchup.com, your privacy is our priority. This Privacy Policy outlines how we use, collect, and protect your personal information when you engage with our website.</p>
    </div>

    <article class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <h4 class="font-bold">1. Information We Collect</h4>
        <p>
          We gather certain information to provide you with the best possible user experience when using our website. This may include your contact information (name, email address, phone number),
          payment details, and dates of your visit. We may also collect information about your interactions with our Website, such as services of your interest and web pages you have visited.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">2. How We Use Your Information</h4>
        <p>
          Data we collect is used mainly to ease the selection for your casino visit and provide you with a seamless user experience on our platform. This includes contacting you in regards to your
          booking selection, confirming reservations, and processing your payments. We may also use your data to improve our services, personalize your experience, and provide special offers that may
          deem to your interest.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">3. Security and Data Sharing</h4>
        <p>
          We strive to keep your information safe and protected with cutting-edge encryption methods, and that is shared only with the casino of your choice. We do not sell or share your personal
          information with third parties or for marketing purposes. All your personal data is handled safely to prevent any unauthorized access.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">4. Your Rights</h4>
        <p>
          You are entitled to correct, access, or erase your information whenever you want to. Please contact our online customer support in case you would like to change your details or request the
          removal of your personal data. We comply with every applicable data protection law, and we are committed to your privacy.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">5. Cookies and Tracking Technologies</h4>
        <p>
          Our platform employs cookies to enhance your user experience. These enable us to track your activity on our platform, recall your preferences, and to provide customized suggestions and
          options. You are able to manage your cookie preferences at your browser settings.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">6. Third-Party Service Providers</h4>
        <p>
          We might engage trusted third-party service providers, such as processing payments, hosting our website, and analyzing data to perform certain operations on our behalf. Although these
          providers may access your information to perform their operations, they are contractually enforced to protect your personal data and use it exclusively for the purposes we allow.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">7. International Data Transfers</h4>
        <p>
          Your personal data may be transferred to and managed overseas, where information protection laws may apply differently. Should that scenario apply, we make sure that appropriate safeguards
          are in place to protect your information in compliance with applicable laws.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">8. Data Retention</h4>
        <p>
          We keep your personal data only as long as necessary to comply with the purposes outlined in this policy or as required by law. We will make sure to anonymize or delete it once your
          information is no longer required.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">9. Contact</h4>
        <p>For any questions or concerns regarding this Privacy Policy or how your information is processed, please contact our online support team. We are here to help:</p>
        <ul>
          <li>Email: support@experiencematchup.com</li>
          <li>Support email: support@experiencematchup.com</li>
          <li>Phone: +44 117 370 3740</li>
          <li>Address: Finzels Reach, Generator Building, Counterslip, Bristol BS1 6BX, United Kingdom</li>
        </ul>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">10. Policy Updates</h4>
        <p>
          We may change our Privacy Policy periodically to reflect changes in our practices or legal requirements. We invite you to review this page from time to time to keep up with any updates. Any
          changes to this policy will be effective immediately upon posting on the website.
        </p>
      </div>
    </article>
  </div>
</LegalStructure>
