---
import LegalStructure from '../components/legals/LegalStructure.astro';
---

<LegalStructure>
  <div class="flex flex-col gap-5 animate-hero text-[#033860]">
    <article class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <h4 class="font-bold">Disclaimer</h4>
        <p>
          At Experience Matchup we aim to provide our users with the most up-to-date information, however we don’t guarantee its timeliness, completeness or accuracy. All content on this website is
          meant only for informational purposes and does not constitute financial, professional, or legal advice in any way. It is your responsibility to review and comply with all the requirements
          and terms of each casino before choosing a venue. We will not be liable for any indirect, consequential, incidental, or punitive damages arising from the use of this platform, or those
          arising at the casinos promoted here to the fullest extent allowed by the law.
        </p>
        <p>
          We thrive to display you the most accurate information, still we cannot guarantee that our site will be free of errors, viruses or other risky components. Some content at
          experiencematchup.com might be sponsored by our business partners, including The Empire Casino, Genting Casinos, Rainbow Casinos, Alea Casinos, Aspers Casinos, Grosvenor Casinos, Admiral
          Casinos, and others.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">1. Thank you for visiting experiencematchup.com!</h4>
        <p>
          By using and accessing our Website, you agree to these Terms. These Terms and Conditions ("Terms") govern your use of experiencematchup.com ("Website"). In case you disagree with any of
          these Terms, please refrain from browsing our Website. We are honoured by your trust on our ranking list of the best brick-and-mortar casinos in the UK.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">2. Content Ownership</h4>
        <p>
          All content on our site is property of Experience Matchup or its licensors, including but not limited to text, logos, images, videos and software. It is protected by intellectual, copyright,
          property and trademark laws. It is strictly forbidden to distribute, use, or reproduce any of this content without our written permission.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">3. Use of the Website</h4>
        <p>In accordance with these terms, you are allowed to use our Website only for its designed purposes and you agree not to:</p>
        <ul>
          <li>Disrupt or restrain the Website's operation or its users' experience</li>
          <li>Attempt unauthorized access to any section of the Site or its components</li>
          <li>Spread any harmful or malicious code through our Website</li>
        </ul>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">4. Accuracy of Information</h4>
        <p>
          Although we strive to provide the most accurate information, we do not guarantee the reliability or completeness of our Website’s content. Our site’s content is meant only for informational
          purposes and may not reflect the latest updates. It is your sole responsibility to use our Website at your discretion.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">5. External Links</h4>
        <p>
          experiencematchup.com might include third-party websites. Those links are provided only for your optional convenience. We are not responsible for their privacy practices or content, as we do
          not control these external links. Access to those third-party websites is solely at your own risk.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">6. Liability</h4>
        <p>
          Experience Matchup, its affiliates, and their respective officers, employees, directors and agents are not liable, for any special, incidental, consequential, indirect, or punitive damages,
          including loss of data, profits or goodwill, resulting from your use of the Website, to the maximum extent allowed by law. This includes, but is not limited to damages such as:
        </p>
        <ul>
          <li>Errors, omissions, or inaccuracies in the Website's content</li>
          <li>Inability to use or access the Website</li>
          <li>Unauthorized access or use of our servers and your personal data</li>
        </ul>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">7. Compensation</h4>
        <p>
          You accept to hold harmless, defend, and indemnify Experience Matchup, its affiliates, and their respective employees, officers, directors, and agents from any losses, damages, claims,
          liabilities or expenses (including legal fees) resulting from your use of the Website or any breach of these Terms.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">8. Changes to Terms</h4>
        <p>
          We reserve the right to modify, amend, or update these Terms at our sole discretion. Any significant changes will become effective by posting the revised Terms on our Website. It is your
          responsibility to review these Terms from time to time. Please notice that by constantly using our Website after any modification constitutes acceptance of the new Terms.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">9. Governing Jurisdiction and Law</h4>
        <p>
          These Terms are ruled by the laws of the United Kingdom. Any disputes related to these Terms or your use of the Website will be subject to the exclusive jurisdiction of the courts in the
          United Kingdom.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">10. Contacting Us</h4>
        <p>For any questions or concerns you may have regarding these Terms, feel free to contact us at:</p>
        <ul>
          <li>Email: support@experiencematchup.com</li>

          <li>Phone: +44 117 370 3740</li>
          <li>Address: Finzels Reach, Generator Building, Counterslip, Bristol BS1 6BX, United Kingdom</li>
        </ul>
      </div>
    </article>
  </div>
</LegalStructure>
