---
import LegalStructure from '../components/legals/LegalStructure.astro';
---

<LegalStructure>
  <div class="flex flex-col gap-5 animate-hero text-[#033860]">
    <article class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <h4 class="font-bold">Our Ranking Sources</h4>
        <p>
          We strive to display a clear comparison between the casinos on our website. For that purpose we have gathered trusted information from expert reviews and reliable sources. This is how we
          make sure a variety of opinions are available in order to help you pick the best casino experiences.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="font-bold">How We Use the Information</h4>
        <p>
          Rankings displayed on our website are based on the collective opinions of real casino visitors, providing you a reliable guide for your next venue visit. In order to give you a comprehensive
          picture of each venue we have gathered information from these sources, based on their guest feedback.
        </p>
      </div>
    </article>
  </div>
</LegalStructure>
