---
interface Props {
  isLanding: boolean;
}

const { isLanding } = Astro.props;
---

<header class="flex flex-col items-center justify-center bg-white md:hidden fixed z-40 w-screen shadow-md">
  <nav class="flex w-full sm:w-[640px] md:w-[768px] px-3 sm:px-6 z-40 relative justify-between h-[80px]">
    <div class="text-lg flex gap-4 items-center">
      <a class="flex items-center gap-2" href={isLanding ? '#home-section' : 'index.html'}>
        <img class="object-contain w-5" src="/public/assets/navbar/logo.png" alt="Logo Experience Matchup" title="Experience Matchup" />
        <span class="text-[15px] text-[#020E3C] font-bold">Experience Matchup</span>
      </a>
    </div>

    <div id="menu-icon-container" class="flex items-center justify-center">
      <img src="/public/assets/navbar/menu-icon.png" class="object-contain w-5" id="menu-icon" />
      <img src="/public/assets/navbar/menu-icon.png" class="hidden object-contain w-5" id="close-icon" />
    </div>
  </nav>

  <div
    id="menu"
    class="bg-white text-[#020E3C] w-full h-[250px] -translate-x-[768px] border-b-white shadow-md border-orange transition-all ease-in-out duration-200 flex items-center absolute z-10 top-[80px] right-0 left-0 md:hidden"
  >
    <div class="w-[250px] p-5 rounded-r-[50px]">
      <ul class="flex text-[#020E3C] flex-col md:text-lg gap-5">
        <li class="text-base flex items-center gap-3 font-medium leading-[normal]">
          <a onclick=" toggleMenu()" href={isLanding ? '#home-section' : 'index.html'}>Home</a>
        </li>

        <li class="font-medium flex items-center gap-3 leading-[normal]">
          <a onclick=" toggleMenu()" href={isLanding ? '#about-us-section' : 'index.html#about-us-section'}>About Us</a>
        </li>

        <li class="font-medium leading-[normal] flex items-center gap-3">
          <a onclick=" toggleMenu()" href={isLanding ? '#top-10-section' : 'index.html#top-10-section'}>Top 10 Social Casinos</a>
        </li>

        <li class="font-medium leading-[normal] flex items-center gap-3">
          <a onclick=" toggleMenu()" href={isLanding ? '#faq-section' : 'index.html#faq-section'}>FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</header>
