---
interface Props {
  isLanding: boolean;
}

const { isLanding } = Astro.props;
---

<header class="hidden bg-white text-[#020E3C] justify-center items-center md:flex fixed z-40 w-full bg-main shadow-md border-b-[1px] border-[#ffffff44]">
  <nav class="flex w-full justify-between items-center rounded-xl md:px-8 h-[80px] md:w-[768px] lg:w-[1024px] xl:w-[1280px] 2xl:w-[1400px]">
    <div class="flex items-center grow basis-0 gap-10">
      <div class="font-normal text-lg flex items-center gap-4">
        <a href={isLanding ? '#home-section' : 'index.html'}>
          <img class="object-contain w-6 shrink-0" src="/public/assets/navbar/logo.png" alt="Logo" title="Experience Matchup" />
        </a>
        <span class="text-lg font-bold hidden xl:block text-[#020E3C]">Experience Matchup</span>
      </div>
    </div>

    <ul class="font-medium text-[#020E3C] text-lg flex gap-10 xl:gap-12">
      <li class="hover:text-[#020E3C] flex gap-2 items-center transition-all duration-200 nav-item" id-nav="home-section">
        <a href={isLanding ? '#home-section' : 'index.html'}>Home</a>
      </li>

      <li class="hover:text-[#020E3C] flex gap-2 items-center transition-all duration-200 nav-item" id-nav="about-us-section">
        <a href={isLanding ? '#about-us-section' : 'index.html#about-us-section'}>About us</a>
      </li>

      <li class="hover:text-[#020E3C] transition-all duration-200 nav-item flex gap-2 items-center" id-nav="top-10-section">
        <a href={isLanding ? '#top-10-section' : 'index.html#top-10-section'}>Top 10 Social Casinos</a>
      </li>

      <li class="hover:text-[#020E3C] transition-all duration-200 nav-item flex gap-2 items-center" id-nav="faq-section">
        <a href={isLanding ? '#faq-section' : 'index.html#faq-section'}>F.A.Q.</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .active {
    color: #087ca7;
    font-weight: bolder;
  }
</style>
