<!-- ! Footer -->
<footer class="flex bg-white justify-center lg:justify-between py-6 lg:my-auto lg:py-16 text-black">
  <div class="flex flex-col lg:flex-row px-6 gap-8 text-[14px] md:px-14 sm:w-[640px] md:w-10/12 lg:w-[1024px] xl:w-[1280px] 2xl:w-[1400px] mx-auto">
    <div>
      <a href="#home-section" class="flex lg:justify-center justify-start">
        <img src="./assets/footer/logo.png" class="w-[40px] h-auto" alt="Logo" title="Slots Volindo" />
      </a>
    </div>
    <!-- Logo y contacto -->
    <div class="flex flex-col lg:w-1/4">
      <div class="flex flex-col gap-1">
        <p class="text-[16px] font-bold">Contact</p>
        <hr class="border-t border-black w-1/3 md:w-[10%] lg:w-[35%]" />
        <h6>Name: <span class="font-bold">Experience Matchup</span></h6>
        <h6>Support Email: <span class="font-bold">support@experiencematchup.com</span></h6>
        <h6>Adress: <span class="font-bold">Finzels Reach, Generator Building, Counterslip, Bristol BS1 6BX, United Kingdom</span></h6>
        <h6>Phone number: <span class="font-bold">+44 117 370 3740</span></h6>
      </div>
    </div>

    <!-- Sección de legales -->
    <div class="flex flex-col gap-1 lg:w-1/4">
      <h5 class="text-[16px] font-bold">Legals</h5>
      <hr class="border-t border-black w-1/3 md:w-[10%] lg:w-[35%]" />
      <div class="flex flex-col gap-2">
        <a href="terms-and-conditions.html">Terms and Conditions</a>
        <a href="privacy-policy.html">Privacy Policy</a>
        <a href="transparency-disclosure.html">Transparency Disclosure</a>
        <a href="contact-us.html">Contact Us</a>
        <a href="cookie-policy.html">Cookie Policy</a>
      </div>
      <hr class="border-t border-black w-1/3 md:w-[10%] lg:hidden" />
    </div>

    <!-- Mensaje de juego responsable -->
    <div class="flex flex-col lg:w-2/4 gap-2 text-[14px] text-justify">
      <p>At Experience Matchup we encourage you to set your own limits and play responsibly.</p>
      <p>
        Always approach gaming and gambling with prudence and caution. Gaming should always be an entertaining and relaxing experience. Whenever you feel you are developing an addiction to gaming, or
        if you are losing control of it, we strongly suggest you seek professional help right away. [disclaimer]
      </p>
    </div>
  </div>
</footer>

<!-- ! Barra inferior -->
<div class="bg-[#020E3C] h-[40px] w-full flex justify-center items-center text-white text-[14px]">
  <div>2024 All rights reserved | Experience Matchup</div>
</div>
