---
interface Props {
  idSection: string;
  wrapperClasses?: string;
  sectionClasses?: string;
}

const { idSection, wrapperClasses, sectionClasses } = Astro.props;
---

<section id={`${idSection}-section`} class=`flex justify-center py-3 md:py-4 lg:py-6 xl:py-8 ${sectionClasses} animate-section`>
  <div class={`sm:w-[640px] md:w-10/12 lg:w-[1024px] xl:w-[1280px] 2xl:w-[1400px] flex flex-col px-3 sm:px-6 md:px-8 gap-4 sm:gap-6 md:gap-8 ${wrapperClasses}`}>
    <slot />
  </div>
</section>
