<section class="lg:hidden">
  <div class="text-2xl font-bold text-center text-[#272B3F] pb-8">Our Casino Partners</div>
  <div class="flex flex-row items-center justify-evenly bg-[#DEEBEF] p-4 h-[25%]">
    <img src="/public/assets/partners/1.png" alt="alea" class="w-[80px] md:w-[120px]" />
    <img src="/public/assets/partners/2.png" alt="grosvenor" class="w-[60px] md:w-[70px]" />
    <img src="/public/assets/partners/3.png" alt="genting" class="w-[80px] md:w-[120px]" />
  </div>
</section>
