---
import Booking from './tabs/Booking.astro';
import Info from './tabs/Info.astro';
import ThankYou from './tabs/ThankYou.astro';
import CloseModalButton from '../components/CloseModalButton';

import { getCollection } from 'astro:content';
import Sumary from './tabs/Sumary.astro';
const casinos = await getCollection('casinos');
---

<section id="info-modal-section" class="bg-[#00000088] flex items-center justify-center min-h-screen absolute z-50 hidden">
  <div class="fixed inset-0 w-full bg-[#00000088] flex items-center justify-center max-h-screen">
    <div class="bg-white shadow-lg w-11/12 sm:w-8/12 lg:max-w-[1100px] h-auto max-h-[90%] min-h-[10vh] overflow-y-auto overflow-x-hidden rounded-2xl relative">
      <CloseModalButton client:load IDModal="info-modal-section" />

      <div id="info-section" class="block">
        {
          casinos.map((hotel, index) => {
            return <Info hotel={hotel.data} index={index} />;
          })
        }
      </div>

      <Booking />
      <Sumary />
      <ThankYou />
    </div>
  </div>
</section>
